<link rel="stylesheet" href="./CSS/index.css">
<header>
    <ul class="menu">
        <a href="index"><li>About Me</li></a>
        <a href="skill"><li>Skill</li></a>
        <a href="contact"><li>Contact Me</li></a>
        <a href="portfolio"><li>Portfolio</li></a>
    </ul>
</header>

    <div class="container">
        <h1>Contact Me</h1>
        <p style="text-indent: 0px;padding-left: 253px;">
            Phone   : 063-235-6561<br>
            Email   : tanyarat.nattip@gmail.com<br>
            Line ID : dongky_b<br>
            Website : -<br>
            Address : 620/366 คอนโด แบงค์คอก ฮอไรซอน<br>
            รัชดา-ท่าพระ แขวงบุคคโล เขตธนบุรี กรุงเทพ 10600
        </p>
    </div>