
<link rel="stylesheet" href="index.css">

<body>
    <header>
        <ul class="menu">
            <a href="index"><li>About Me</li></a>
            <a href="skill"><li>Skill</li></a>
            <a href="contact"><li>Contact Me</li></a>
            <a href="portfolio"><li>Portfolio</li></a>
        </ul>
    </header>
    
    <div class="container">
        <h1>TANYARAT NATTIP</h1>
        <img class="bam" src="Bam.jpg"></img>
        <p>I am confident in my ability to come up with interesting ideas about 
            How important is customer experience?
            with over 10 years with customer service.
            5+ years of systems consults and  Assistant Operation Manager.
            </p>
    </div>
</body>
    
    
    
